.annual {
    padding: 0 0 35px;
}
.annual__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.annual__left {
}
.annual__ul {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    li{
        position: relative;
        padding-left: 30px;
        &::before {
            content: '';
            position: absolute;
            background-image: url("../img/ok2.png");
            background-size: cover;
            width: 25px;
            height: 25px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.annual__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.annual__title {
    background-color: $mainColor;
    font-size: 20px;
    color: #fff;
    padding: 10px 95px 10px 5px;
    font-weight: 700;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url(../img/8.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 90px;
        height: 120px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

    }
}
.annual__txt {
    padding-left: 30px;
    padding-right: 150px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url("../img/ok6.png");
        background-size: cover;
        width: 25px;
        height: 25px;
        left: 0;
        top: -10px;
    }
}